@model Product
<div class="container-fluid">
    <h1 class="mx-3">Create</h1>
    <div class="row justify-content-center flex-column align-items-center">
        <form class="col-md-8" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Code">Code</label>
                    <input asp-for="Code" class="form-control" placeholder="Code">
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control" rows="6" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="SalePrice">SalePrice</label>
                    <input asp-for="SalePrice" class="form-control" placeholder="SalePrice">
                    <span asp-validation-for="SalePrice" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CostPrice">CostPrice</label>
                    <input asp-for="CostPrice" class="form-control" placeholder="CostPrice">
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="DiscountPercent">DiscountPercent</label>
                    <input asp-for="DiscountPercent" class="form-control" placeholder="DiscountPercent">
                    <span asp-validation-for="DiscountPercent" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="ExTax">Tax</label>
                    <input asp-for="ExTax" class="form-control" placeholder="ExTax">
                    <span asp-validation-for="ExTax" class="text-danger"></span>
                </div>
               
               
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="BrendId">Brend</label>
                    <select asp-for="BrendId" class="form-select" aria-label="Default select example">
                        @foreach (var brends in ViewBag.Brends)
                        {
                            <option value="@brends.Id">@brends.Name</option>
                        }
                    </select>
                    <span asp-validation-for="BrendId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="TagIds">Tag</label>
                    <select asp-for="TagIds" class="form-select" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.Tags, "Id","Name"))">
                    </select>
                    <span asp-validation-for="TagIds" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="mb-3 col-md-6">
                    <label asp-for="ProductPosteImageFile" class="form-label">ProductPosteImageFile</label>
                    <input asp-for="ProductPosteImageFile" placeholder="ProductPosteImageFile" class="form-control">
                    <span asp-validation-for="ProductPosteImageFile"></span>
                </div>
                <div class="mb-3 col-md-6">
                    <label asp-for="ProductHoverImageFile" class="form-label">ProductHoverImageFile</label>
                    <input asp-for="ProductHoverImageFile" placeholder="ProductHoverImageFile" class="form-control">
                    <span asp-validation-for="ProductHoverImageFile"></span>
                </div>
                <div class="mb-3 col-md-12">
                    <label asp-for="ImageFile" class="form-label">ImageFile</label>
                    <input asp-for="ImageFile" placeholder="ImageFile" class="form-control">
                    <span asp-validation-for="ImageFile"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" asp-for="IsAvailable">
                    <label class="form-check-label" asp-for="IsAvailable">IsAvailable</label>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>