@model Slider
<div class="container-fluid">
    <div class="row justify-content-between align-items-center">
        <h1>Create Sliders</h1>
        <a class="btn btn-primary" asp-controller="slider" asp-action="index">Back to Slider</a>
    </div>
    <form method="post" enctype="multipart/form-data" class="row">

        <div class="mb-3 col-md-4">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" type="text" placeholder="Title" class="form-control">
            <span asp-validation-for="Title"></span>
        </div>
        <div class="mb-3 col-md-4">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" type="text" placeholder="Description" class="form-control">
            <span asp-validation-for="Description"></span>
        </div>
        <div class="mb-3 col-md-4">
            <label asp-for="ImageFile" class="form-label">ImageFile</label>
            <input asp-for="ImageFile" placeholder="ImageFile" class="form-control">
            <span asp-validation-for="ImageFile"></span>
        </div>
        <div class="mb-3 col-md-4">
            <label asp-for="RedirecUrl" class="form-label">RedirecUrl</label>
            <input asp-for="RedirecUrl" type="text" placeholder="RedirecUrl" class="form-control">
            <span asp-validation-for="RedirecUrl"></span>
        </div>
        <div class="mb-3 col-md-4">
            <label asp-for="PromotingDesc" class="form-label">PromotingDesc</label>
            <input asp-for="PromotingDesc" type="text" placeholder="PromotingDesc" class="form-control">
            <span asp-validation-for="PromotingDesc"></span>
        </div>
        <div class="mb-3 col-md-4">
            <label asp-for="TitleSpan" class="form-label">TitleSpan</label>
            <input asp-for="TitleSpan" type="text" placeholder="TitleSpan" class="form-control">
            <span asp-validation-for="TitleSpan"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
