@model List<Brend>
@{
    int counter = 0;
}

<div class="container-fluid">
    <div class="row justify-content-between align-items-center">
        <h1>Genres</h1>
        <a class="btn btn-primary" asp-controller="Brend" asp-action="create">Create</a>
    </div>
    <table class="table contact-form">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brend in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@brend.Name</td>
                    <td>
                        <a asp-controller="Brend" asp-action="update" asp-route-id="@brend.Id" class="btn btn-success">Update</a>
                        <a asp-controller="Brend" asp-action="delete" asp-route-id="@brend.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>